@import "bourbon";
@import "neat";
@import "normalize";

$fear: #df7a96;
$joy: #fff65a;
$sadness: #095b9d;
$anger: #f13a07;
$disgust: #7dbc40;

body {
  font-family: 'Chivo', sans-serif;
}

.mood-wrapper {
  border-top: 3px solid black;
  .mood {
    height: 200px;
    width: 400px;
    p {
      font-size: 6em;
      margin: 0;
    }
  }
}

.story-emotions {
  height: 100px;
  width: 200px;
}
