@import "bourbon";
@import "neat";
@import "normalize";

$fear: #df7a96;
$joy: #fff65a;
$sadness: #095b9d;
$anger: #f13a07;
$disgust: #7dbc40;

body {
  font-family: 'Chivo', sans-serif;
}

form {
  padding: 1em;
}

button {
  background-color: black;
  border: none;
  color: white;
}

.logo {
  width: 400px;
}

.header {
  background-color: #f8f7f5;
  padding: 1em 2em;
}

.header-p {
  padding: 1em;
}

.mood-wrapper {
  @include outer-container;
  background-color: #f8f7f5;
  max-width: none;
  .mood {
    height: 200px;
    p {
      font-size: 6em;
      margin: 0;
    }
  }
  .series {
    @include span-columns(6);
    padding: 1em;
  }
  .shaman-wrapper {
    @include span-columns(5);
    padding: 1em;
    img {
      width: 400px;
    }
  }
}

.outer-container {
  @include outer-container;
  background-color: #f8f7f5;
}

.emotion-series {
  @include span-columns(6);
}
.shaman-guy {
  @include span-columns(5);
  img {
    width: 200px;
  }
}

.emotion-series {
  div {
    height: 200px;
    text-align: center;
  }
  p {
    color: white;
    font-size: 4em;
    margin: 0;
    text-transform: uppercase;
  }
}

.story-form {
  border-top: 3px solid #f8f7f5;
  clear: both;
  margin-top: 1em;
  padding: 2em 0;
  input {
    border: 1px solid black;
    height: 30px;
    width: 50%;
  }
  label {
    font-size: 1.2em;
  }
}

.story-embed {
  float: left;
  font-family: 'Helvetica', sans-serif;
  padding: 2em 0;
  width: 50%;
  .headline-embed {
    font-size: 1.5em;
    padding: 0.5em 0;
  }
  .lede-embed {
    padding: 0.5em 0;
  }
}

.story-emotion-overall {
  float: left;
  padding: 1em 0;
  width: 100%;
  h3 {
    float: left;
    margin: 0;
    text-transform: uppercase;
    width: 50%;
  }
  div {
    float: left;
    text-align: center;
    width: 50%;
    p {
      color: white;
      font-size: 2em;
      margin: 0;
      padding: 1em;
      text-transform: uppercase;
    }
  }
}

.emotion-labels {
  float: left;
  margin: 0.5em;
  .fear, .anger, .disgust, .sadness, .joy {
    float: left;
    width: 10px;
    height: 10px;
  }
  p {
    float: left;
    margin: 0;
  }
}

.anger {
  background-color: $anger;
}
.fear {
  background-color: $fear;
}
.disgust {
  background-color: $disgust;
}
.sadness {
  background-color: $sadness;
}
.joy {
  background-color: $joy;
}

.about {
  padding: 1em;
}

.story-emotions {
  float: left;
  margin: 1em 0;
  width: 50%;
  h3 {
    text-transform: uppercase;
  }
}
