@import "bourbon";
@import "neat";
@import "normalize";

$fear: #df7a96;
$joy: #fff65a;
$sadness: #095b9d;
$anger: #f13a07;
$disgust: #7dbc40;

body {
  font-family: 'Chivo', sans-serif;
}

form {
  padding: 1em;
}

.mood-wrapper {
  border-top: 3px solid black;
  .mood {
    height: 200px;
    width: 400px;
    p {
      font-size: 6em;
      margin: 0;
    }
  }
}

.story-form {
  clear: both;
  margin-top: 1em;
  input {
    border: 1px solid black;
    height: 30px;
    width: 50%;
  }
  label {
    font-size: 1.2em;
  }
}

.story-embed {
  float: left;
  padding: 1em 0;
  width: 50%;
}

.story-emotion-overall {
  float: left;
  padding: 1em 0;
  width: 100%;
  h3 {
    float: left;
    margin: 0;
    text-transform: uppercase;
    width: 50%;
  }
  div {
    float: left;
    text-align: center;
    width: 50%;
    p {
      color: white;
      font-size: 2em;
      margin: 0;
      padding: 1em;
      text-transform: uppercase;
    }
  }
}

.anger {
  background-color: $anger;
}
.fear {
  background-color: $fear;
}
.disgust {
  background-color: $disgust;
}
.sadness {
  background-color: $sadness;
}
.joy {
  background-color: $joy;
}

.story-emotions {
  float: left;
  margin: 1em 0;
  width: 50%;
  h3 {
    text-transform: uppercase;
  }
}
