<form>
    <% 4.times do |i| %>
        <div class="story-form">
            <label>Story Url</label>
            <input type="text" name="url<%= i %>" placeholder="Paste here" class="urlinput"><br />
            <div class="story-embed">
                <div class="headline-embed"></div>
                <div class="image-embed"></div>
                <div class="lede-embed"></div>
            </div>
            <div class="story-emotions">
              <div class="anger"></div>
              <div class="fear"></div>
              <div class="disgust"></div>
              <div class="sadness"></div>
              <div class="joy"></div>
            </div>
        </div>
    <% end %>
    <input type="submit" value="Find the mood">
</form>
