<form>
    <% 4.times do |i| %>
        <div class="story-form">
            <label>Story Url</label><br />
            <input type="text" name="url<%= i %>" placeholder="Paste here" class="urlinput"><br />
            <div class="story-embed">
                <div class="headline-embed"></div>
                <div class="image-embed"></div>
                <div class="lede-embed"></div>
            </div>
            <div class="story-emotions">
            </div>
            <div class="story-emotion-overall"></div>
        </div>
    <% end %>
    <button type="button" id="btn-add-url">Add another</button><br />
    <input type="submit" value="Feel the mood">
</form>
