<div class="mood-wrapper">
  <div class="series">
    <h1>Results</h1>
    <h2>Overall Series Aura</h2>
    <div class="mood">
      <p>?</p>
    </div>
    <div class="emotion-labels"><div class="joy"></div><p>JOY</p></div><div class="emotion-labels"><div class="fear"></div><p>FEAR</p></div><div class="emotion-labels"><div class="sadness"></div><p>SADNESS</p></div><div class="emotion-labels"><div class="anger"></div><p>ANGER</p></div><div class="emotion-labels"><div class="disgust"></div><p>DISGUST</p></div>
  </div>
  <div class="shaman-wrapper">
    <img src="/images/shaman-joy-icon.svg">
  </div>
</div>
<div class="outer-container">
  <div class="emotion-series">
  </div>
</div>

