<div class="mood-wrapper">
  <div class="series">
    <h1>Results</h1>
    <h2>Overall Series Aura</h2>
    <div class="mood">
      <p>?</p>
    </div>
    <div class="emotion-labels"><div class="joy"></div><p>JOY</p></div><div class="emotion-labels"><div class="fear"></div><p>FEAR</p></div><div class="emotion-labels"><div class="sadness"></div><p>SADNESS</p></div><div class="emotion-labels"><div class="anger"></div><p>ANGER</p></div><div class="emotion-labels"><div class="disgust"></div><p>DISGUST</p></div>
  </div>
  <div class="shaman-wrapper">
    <img src="/images/shaman-joy-icon.svg">
  </div>
</div>
<div class="outer-container">
  <div class="emotion-series">
  </div>
</div>
<div class="about">
  <h3>About</h3>
  <p>News Shaman aims to highlight the emotional impact and rhythmic flow of reading a collection of news stories. Its first iteration is an editorial tool that offers a quick view of the emotional analytics of a given story or list of stories. This allows a publisher to gauge whether their feature series or newsletter digest is setting an emotional tone that fits their readers, and begin to iterate on the best flow for their content; is it better to begin with a downer and finish with an inspiring glimmer of hope, or start irreverent and end with a sober reflection? Combined with analytics tools, News Shaman can begin to answer these questions, and help gain editorial insight into how readers are reading and reacting to stories.</p>
  <p>This project was built at The Huffington Post and Change.org Editors Lab in NYC on April 8-9, 2016.</p>
</div>

